# Reading and cutting down the dataset

## Downloading dataset

In [2]:
import pandas as pd
dataset = pd.read_csv("https://osf.io/download/g72pq/", sep=',', on_bad_lines='skip', low_memory=False)
dataset.head()

,Unnamed: 0,id,date,time,gender,age,natlangs,primelangs,dyslexia,psychiatric,...,q34_6,q34_8,q35_1,q35_2,q35_4,q35_5,q35_7,q35_8,correct,elogit
0,1,2.0,2014-05-29,01:00:55,male,31,English,English,0,0,...,1,1,1,1,1,1,1,1,0.978947,3.621671
1,2,3.0,2014-05-29,01:01:03,male,30,English,English,0,1,...,1,1,1,1,1,1,1,1,1.000000,5.252273
2,3,3.0,2014-05-29,01:01:03,male,30,English,English,0,1,...,1,1,1,1,1,1,1,1,1.000000,5.252273
3,4,4.0,2014-05-29,01:01:13,male,19,English,English,0,0,...,1,1,1,1,1,0,1,1,0.905263,2.208853
4,5,5.0,2014-05-29,01:01:19,male,20,"Chinese/Mandarin, English","Chinese/Mandarin, English",0,0,...,1,1,1,1,1,0,1,1,0.947368,2.800602

## Randomly sampling 30% from the dataset to keep the file size below 100mb

In [10]:
sampled_dataset = dataset.sample(frac=0.3,random_state=123)
sampled_dataset.info()
file_path = 'data/sampled_dataset.csv'
sampled_dataset.to_csv(file_path, index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 200849 entries, 438945 to 100264
Columns: 128 entries, Unnamed: 0 to elogit
dtypes: float64(6), int64(104), object(18)
memory usage: 197.7+ MB